body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
.marker-cluster div {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: 1px solid #000000;
    font-size: 8px;
    text-align: center;
    opacity: 0.8;
}